@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    margin-left: 30%;
    background-color: lavender;
}

h1 {
    font-size: 24px;
}

#container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 450px;
    width: 70%;
    background-color: lightgoldenrodyellow;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

#messages {
    height: 250px; 
    overflow: scroll;
    width: 50%;
}

/* Hover flow */
/* Initial state + shadow */
#message-input {
    position: relative;
    display: block; 
    width: 50%; 
    margin-bottom: 10px; 
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}
/* Hidden pseudo element with end state shadow */
#message-input::after {
    position: relative;
    z-index: -1;
    width: 50%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}
/* Scale up the box */
#message-input:hover {
    transform: scale(1.1, 1.1);
}
/* Fade in the pseudo-element with the bigger shadow */
#message-input:hover::after {
    opacity: 1;
}

#send-button {
    
    width: 30%; 
    height: 30px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

#send-button:hover {
    background-color: lavender;
    transform: scale(1.1, 1.1);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}