@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-left: 25%;
    background-color: lavender;
}

h1 {
    font-size: 24px;
}

.body-dark-active {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-left: 25%;
    background-color: #191905;
}

#container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 450px;
    width: 75%;
    background-color: lightgoldenrodyellow;
    border-radius: 15px;
    box-shadow: 8px 12px 15px 0px rgba(0,0,0,0.3);
    min-width: 350px;
}

.container-dark-active {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 450px;
    width: 75%;
    background-color: #1a5229 !important;
    border-radius: 15px;
    box-shadow: 8px 12px 15px 0px rgba(255,255,255,0.3) !important;
    color: white !important;
    min-width: 350px;
}

#messages {
    height: 250px; 
    overflow: scroll;
    width: 50%;
}

.messages-dark-active {
    height: 250px; 
    overflow: scroll;
    width: 50%;
    background-color: #1a5229 !important;
}

/* Hover flow */
/* Initial state + shadow */
#message-input {
    position: relative;
    display: block; 
    width: 50%; 
    margin-bottom: 10px; 
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}
/* Hidden pseudo element with end state shadow */
#message-input::after {
    position: relative;
    z-index: -1;
    width: 50%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}
/* Scale up the box */
#message-input:hover {
    transform: scale(1.1, 1.1);
}
/* Fade in the pseudo-element with the bigger shadow */
#message-input:hover::after {
    opacity: 1;
}

#btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
}

#dark-mode-button {
    background-color: rgb(208, 208, 227);
    width: 100px; 
    height: 25px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
    align-self: center;
}

#dark-mode-button:hover {
    background-color: lavender;
    transform: scale(1.1, 1.1);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.dark-mode-button-active {
    background-color:  #2f2f1c !important;
    width: 100px; 
    height: 25px;
    box-shadow: 0 1px 2px rgba(255,255,255,0.15) !important;
    transition: all 0.3s ease-in-out;
    align-self: center;
    color: white !important;
}

.dark-mode-button-active:hover {
    background-color:  #191905 !important;
    transform: scale(1.1, 1.1);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(255,255,255,0.3) !important;
    color: white !important;
}

#send-button {
    background-color: rgb(208, 208, 227);
    width: 120px; 
    height: 30px;
    margin-bottom: 10px;
    margin-top: -5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

#send-button:hover {
    background-color: lavender;
    transform: scale(1.1, 1.1);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.send-button-dark-active {
    background-color: #2f2f1c !important;
    width: 120px; 
    height: 30px;
    margin-bottom: 10px;
    margin-top: -5px;
    box-shadow: 1px 1px 2px rgba(255,255,255,0.15) !important;
    transition: all 0.3s ease-in-out;
    color: white !important;
}

.send-button-dark-active:hover {
    background-color: #191905 !important;
    transform: scale(1.1, 1.1);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(255,255,255,0.3) !important;
    color: white !important;
}


  /*============ BOOTSTRAP BREAK POINTS:
  
  Extra small (xs) devices (portrait phones, less than 576px)
  No media query since this is the default in Bootstrap
  
  Small (sm) devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... }
  
  Medium (md) devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }
  
  Large (lg) devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }
  
  Extra (xl) large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }
  
  =============*/



/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
	
}

/* Devices under 992px (xl) */
@media (max-width: 991.98px) {

	
}

/* Devices under 768px (md) */
@media (max-width: 767.98px) {


}

/* Devices under 576px (sm) */
@media (max-width: 575.98px) {

	#container {
        margin-left: -10%;
        min-width: 265px;
    }

    input[type='text'],
    input[type='number'],
    textarea {
        font-size: 16px;
    }
}
