@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    margin-left: 30%;
    background-color: lavender;
}

h1 {
    font-size: 24px;
}

.body-dark-active {
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    margin-left: 30%;
    background-color: #191905;
}

#container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 450px;
    width: 70%;
    background-color: lightgoldenrodyellow;
    border-radius: 15px;
    box-shadow: 8px 12px 15px 0px rgba(0,0,0,0.3);
}

.container-dark-active {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 450px;
    width: 70%;
    background-color: #05052d !important;
    border-radius: 15px;
    box-shadow: 8px 12px 15px 0px rgba(255,255,255,0.3) !important;
    color: white !important;
}

#messages {
    height: 250px; 
    overflow: scroll;
    width: 50%;
}

.messages-dark-active {
    height: 250px; 
    overflow: scroll;
    width: 50%;
    background-color: #05052d !important;
}

/* Hover flow */
/* Initial state + shadow */
#message-input {
    position: relative;
    display: block; 
    width: 50%; 
    margin-bottom: 10px; 
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}
/* Hidden pseudo element with end state shadow */
#message-input::after {
    position: relative;
    z-index: -1;
    width: 50%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}
/* Scale up the box */
#message-input:hover {
    transform: scale(1.1, 1.1);
}
/* Fade in the pseudo-element with the bigger shadow */
#message-input:hover::after {
    opacity: 1;
}

#btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
}

#dark-mode-button {
    background-color: rgb(208, 208, 227);
    width: 80px; 
    height: 25px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
    align-self: center;
}

#dark-mode-button:hover {
    background-color: lavender;
    transform: scale(1.1, 1.1);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.dark-mode-button-active {
    background-color:  #2f2f1c !important;
    width: 80px; 
    height: 25px;
    box-shadow: 0 1px 2px rgba(255,255,255,0.15) !important;
    transition: all 0.3s ease-in-out;
    align-self: center;
    color: white !important;
}

.dark-mode-button-active:hover {
    background-color:  #191905 !important;
    transform: scale(1.1, 1.1);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(255,255,255,0.3) !important;
    color: white !important;
}

#send-button {
    background-color: rgb(208, 208, 227);
    width: 100px; 
    height: 30px;
    margin-bottom: 10px;
    margin-top: -5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

#send-button:hover {
    background-color: lavender;
    transform: scale(1.1, 1.1);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.send-button-dark-active {
    background-color: #2f2f1c !important;
    width: 100px; 
    height: 30px;
    margin-bottom: 10px;
    margin-top: -5px;
    box-shadow: 1px 1px 2px rgba(255,255,255,0.15) !important;
    transition: all 0.3s ease-in-out;
    color: white !important;
}

.send-button-dark-active:hover {
    background-color: #191905 !important;
    transform: scale(1.1, 1.1);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(255,255,255,0.3) !important;
    color: white !important;
}
